# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite

# Data
data/raw/*
data/image_cache/*
data/interim/*
data/processed/*
data/embeddings/*

# Notebooks checkpoints
.ipynb_checkpoints/

# Models
checkpoints/*
experiments/*

# Env
.env
*.env
.venv/

# Text Editor files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
